.wrapper {
    padding: 20px;

    .title {
        margin-bottom: 10px;
    }
}

@media (max-width: 425px) {
    .wrapper {
        padding: 20px 10px 10px;

        .title {
            margin-bottom: 5px;
            text-align: center;
        }
    }
}
